apiVersion: apps/v1
kind: Deployment
metadata:
  name: iris-w6-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: iris-api
  template:
    metadata:
      labels:
        app: iris-api
    spec:
      containers:
      - name: iris-api
        image: us-central1-docker.pkg.dev/bubbly-upgrade-473704-a6/iris-w6-repo/iris-api:latest
        ports:
        - containerPort: 8888